.medium-detach-to-right-position-absolute {
  @include breakpoint(medium up) {
    position: absolute;
    right: 0;
    top: rem-calc(-50);
    z-index: 300;
  }

  @include breakpoint(large up) {
    top: rem-calc(-80);
  }
}
