footer.footer
  .grid-x
    .cell.medium-6.secondary-nav
      .grid-x.medium-unstack.grid-padding-x
        ul.cell.medium-6.large-3
          li
            a(href="#", title="About") About
          li
            a(href="#", title="Board of Directors") Board of Directors
          li
            a(href="#", title="Policy") Policy
          li
            a(href="#", title="Contact") Contact
        ul.cell.medium-6.large-3
          li
            a(href="#", title="Programmes") Programmes
          li
            a(href="#", title="Education") Education
          li
            a(href="#", title="Housing") Housing
          li
            a(href="#", title="Welfare") Welfare
          li
            a(href="#", title="Skill & Opportunity") Skill & Opportunity
        ul.cell.medium-6.large-3
          li
            a(href="#", title="Take Action") Take Action
          li
            a(href="#", title="Partner with Lilyford") Partner with Lilyford
          li
            a(href="#", title="Volunteer") Volunteer
          li
            a(href="#", title="Media") Media

    .cell.medium-6
      .grid-x
        ul.cell.social-icons.medium-6.padding-bottom-2
          include ./_social-icons
        .cell.medium-6.medium-text-right
          p &copy; Copyright 2018 Lilyford Foundation