header.header.align-center-middle.padding-1
  .logo.small-4.medium-2.large-2.column
    a(href="/", title="Lilyford Foundation")
      img(src="/assets/img/lilyford-logo.png", alt="Lilyford", height="30")
  nav.primary-nav.medium-9.large-7.column
    ul
      li
        a(href="/about", title="About Lilyford foundation") About
      li
        a(href="/our-programmes", title="Our Programmes at Lilyford foundation") Our Programmes
      li
        a(href="/media-center", title="Media & Events") Media
      li
        a(href="/contact", title="Contact") Contact
      li
        a(href="/take-action", title="Take action, join our cause or volunteer") Take Action


  .social-icons.column.text-right.show-for-large
    include ./_social-icons

