li
  a(href="/twiiter", title="twiiter")
    i.icon.icon-twitter
li
  a(href="/facebook", title="facebook")
    i.icon.icon-facebook
li
  a(href="/instagram", title="instagram")
    i.icon.icon-instagram
li
  a(href="/linkedin", title="linkedin")
    i.icon.icon-linkedin

