extends ../_layout
block vars
  - var title = "About Lilyford Foundation"
block main

  .page-header
    h2.heading.color-blue About Lilyford
    //- h3.subheader Lilyford Foundation is a not-for-profit organisation that helps people in need and provide opportunities for people to pursue their dreams and lead better lives

  .flex-container
    .hero.hero--with-gradient-background
      .hero__image
        img(src="/assets/img/about-hero-image.jpg", alt="Lilyford Foundation in Onitsha")
      .hero__content.hero__content--bottom
        .cell.medium-10.large-6.medium-centered.padding-1
          h1  <em>Lending a helping hand and bridging the gap</em>

  .grid-container
    .grid-x.position-relative
      .cell.padding-top-3.large-8
        h4.medium-text-center.medium-10.large-12.medium-centered.large-text-left Lilyford foundation is a not-for-profit organisation, non-political and non-governmental organisation that helps people in need and provide opportunities for people to pursue their dreams and lead better lives.

        .grid-x.padding-top-2.padding-bottom-3
          .cell.medium-6.padding-2.box-shadow.border-bottom-8.border-bottom-crimson
            h3.padding-bottom-2.color-crimson Vision
            p To provide a helping hand in achieving a poverty, hunger and basic-health-issues free society and to provide succour to the poor and needy in our immediate environment and Africa at large.
          .cell.medium-6.padding-2.box-shadow.border-bottom-8.border-bottom-turquoise
            h3.padding-bottom-2.color-turquoise Mission
            p To collaborate with organisations with similar goals to create a healthy living and sustainable environment for the less privilege in society.

            p To achieve a life of giving and promote the values of integrity and selflessness within our host communities and beyond.

            p To offer voluntary support and assistance to deserving indigent students to achieve their educational aspirations.

        p Lilyford focuses on people-oriented programmes and with the help of our beneficiary communities, provide relief for the most pressing community issues. Our values, activities and our belief in helping and uplifting those in need are sacrosanct with the <a href="/about/founding-story.html" title="Lilyford Founding Story"><strong>Lilyford founding story.</strong></a>



        img(src="/assets/img/our-focus.jpg", alt="Our Focus")
        - var missions = [{ image: 'reduce-poverty icon.svg', title: 'Improve Quality of Life', text: 'of people affected by abject poverty, through social programmes to restore their confidence and enable them to live meaningful lives', color: 'purple', }, { image: 'improve-healthcare icon.svg', title: 'Improve Access To Education', text: 'through educational funds and award of scholarships to deserving indigent students across the primary, secondary and tertiary levels of education', color: 'turquoise' }, { image: 'improve-healthcare icon.svg', title: 'Capacity Building', text: 'through empowerment of youths and windows, skills acquisition and engagement of youths in productive ventures that eliminates vices', color: 'turquoise' }, { image: 'improve-healthcare icon.svg', title: 'Improve Healthcare', text: 'through provision of health facilities and seasonal health programmes for people without access to quality health care', color: 'turquoise' }, { image: 'self-sustenance icon.svg', title: 'Provide Self Sustenance', text: 'through provision of soft loans for  petty trades and small scale business enterprises, to help them manage their future and that of their families. ', color: 'red' }, { image: 'homelessness icon.svg', title: 'Eradicate Homelessness', text: 'through re-building of degraded and neglected environments and building of shelters for less privileged families and the elderly.', color: 'chinese-purple' }]

      .cell.small-10.medium-centered.large-3.large-detach-to-right-position-absolute.bg-white.small-centered.box-shadow
        .cell.large-12.padding-2.text-center
          h3.color-crimson.strong.padding-bottom-2 Our Aims &amp; Objectives
          .grid-x.grid-margin-y.grid-padding-x.medium-up-2.large-up-1
           each mission in missions
            .cell
              img(src="/assets/img/"+mission.image, alt=mission.title)
              h4(class="color-"+mission.color).padding-top-1 #{mission.title}
              p #{mission.text}


  .grid-container.padding-top-3.padding-bottom-3
    img(src="/assets/img/lilyford-doctors-assembly.jpg", alt="Lilyford outreach programme in Onitsha").w100

  .grid-container.padding-top-2.padding-bottom-3
    .grid-x
     .cell.medium-10.large-8
        h3.color-purple.string.uppercase Our Structure
        p Lilyford Foundation’s team comprises the Board of Directors, Project directors, Membership Coordinators and Volunteers. The Board members provide advisory and strategic direction for Lilyford, while the Project directors and membership coordinators facilitate our numerous outreach and intervention projects. Beneficiary communities are major stakeholders in our operations and are also involved in the decision-making process