extends ../_layout

block main

  .page-header
    h2.heading About
    h3.subheader Lilyford Foundation is a not-for-profit organisation that helps people in need and provide opportunities for people to pursue their dreams and lead better lives

