block vars
- var title = title || "Homepage"
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
    link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Yeseva+One" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css", rel="stylesheet")
    link(href="/assets/fonts/Neutraface2Text-BookItalic.woff2", rel="prefetch", as="font")
    link(href="/assets/fonts/Neutraface2Text-Bold.woff2", rel="prefetch", as="font")
    link(href="/assets/fonts/Neutraface2Text-BoldItalic.woff2", rel="prefetch", as="font")
    link(href="/assets/fonts/Neutraface2Text-Book.woff2", rel="prefetch", as="font")

    link(href="/assets/css/app.css", rel="stylesheet")



  body
  block header
    include ./includes/_header

  block main


  block footer
    include ./includes/_footer
    script(src="/assets/js/jquery/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
    script(src="/assets/js/app.js")




