<footer class="footer">
    <div class="grid-x">
        <div class="cell medium-6 secondary-nav">
            <div class="grid-x medium-unstack grid-padding-x">
                <ul class="cell medium-6 large-3">
                    <li>
                        <a href="/about" title="About">About</a>
                    </li>
                    <li>
                        <a href="/about/board-of-directors" title="Board of Directors">Board of Directors</a>
                    </li>
                    {#<li>
                        <a href="#" title="Policy">Policy</a>
                    </li>#}
                    <li>
                        <a href="/contact" title="Contact">Contact</a>
                    </li>
                </ul>
                <ul class="cell medium-6 large-3">
                    <li>
                        <a href="/our-programmes" title="Programmes">Programmes</a>
                    </li>
                    <li>
                    <li>
                        <a href="/our-programmes/health" title="Health">Health</a>
                    </li>
                    <li>
                        <a href="/our-programmes/education" title="Education">Education</a>
                    </li>
                    <li>
                        <a href="/our-programmes/welfare-and-widow-empowerment" title="Welfare">Welfare & Widow Empowerment</a>
                    </li>
                    <li>
                        <a href="/our-programmes/skill-and-opportunity" title="Skill &amp; Opportunity">Skill &amp; Opportunity</a>
                    </li>
                    <li>
                        <a href="/our-programmes/disaster-relief-for-idps" title="Disaster Relief for IDPs">Disaster Relief for IDPs</a>
                    </li>
                    <li>
                        <a href="/our-programmes/housing-and-shelter" title="Housing-and-shelter">Housing &amp; Shelter</a>
                    </li>
                </ul>
                <ul class="cell medium-6 large-3">
                    <li>
                        <a href="/take-action" title="Take Action">Take Action</a>
                    </li>
                    <li>
                        <a href="/take-action/partnership" title="Partner with Lilyford">Partner with Lilyford</a>
                    </li>
                    <li>
                        <a href="/take-action/volunteer" title="Volunteer">Volunteer</a>
                    </li>
                    <li>
                        <a href="/media" title="Media">Media</a>
                    </li>
                    <li>
                        <a href="/media/impacts" title="Impact">Impact</a>
                    </li>
                    <li>
                        <a href="/media/news" title="News">News</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cell medium-6">
            <div class="grid-x">
                <ul class="cell social-icons medium-6 padding-bottom-2">
                    {{ include('./partials/socialicons.twig')}}
                </ul>
                <div class="cell medium-6 medium-text-right">
                    <p>&copy; Copyright 2018 Lilyford Foundation</p>
                </div>
            </div>
        </div>
    </div>
</footer>