<a class="icon icon-facebook text-2x" href="{{ socialUrls.facebook }}" title="Lilyford Foundation on Facebook" target="_blank"></a>
<a class="icon icon-twitter text-2x" href="{{ socialUrls.twitter }}" title="Lilyford Foundation on Twitter" target="_blank"></a>
<a class="icon icon-instagram text-2x" href="{{ socialUrls.instagram }}" title="Lilyford Foundation on Instagram" target="_blank"></a>
<a class="icon icon-linkedin text-2x" href="{{ socialUrls.linkedin }}" title="Lilyford Foundation on Linkedin" target="_blank"></a>