extends ../_layout

block main

    //- .page-header
    //-     h2.heading Programmes
    //-     //- h5.subheader Support the Lilyford programmes by participating in our activities through lending a hand financially or by volunteering
    include ./_page-nav.pug


    .grid-container
      .grid-x.padding-2.bg-light-gray
        .cell.medium-10.large-6.medium-centered.text-center
          h6.subheader
            a(href="/programmes", title="Programmes").subheader PROGRAMMES
          h2.heading.color-crimson Disaster Relief for IDPs
          .cell
            img(src="/assets/img/water icon.svg", alt="Water and Sanitation").padding-1
          h4 Human security and social inclusion are pre-conditions for sustainable development and the promise of growth in Sub-Saharan Africa.

      .grid-x.position-relative.margin-top-3
        .cell.medium-8
          h3.color-purple.padding-top-1.strong THE CHALLENGE
          p The amount of internally displaced people around the world continue to increase, with 31.1million new internal displacements by conflict, violence and disasters in 2016. This is the equivalent of one person forced to flee every second (Internal Displacement Monitoring Centre). Sub-Saharan Africa overtook the Middle East as the region most affected, thereby contributing a large chunk of that figure, with Nigeria contributing 501,000 through conflicts and 78,000 through natural disaster, while Democratic Republic of Congo (DRC) contribution about 1million new displacements; the largest such increase in 2017.

          p Low and lower middle income countries (most in Sub-Saharan Africa) bear the brunt of internal displacement every year. New displacements in recent years occur in high-risk environments characterised by low coping capacity, high-levels of socio-economic vulnerability, political instability, insurgency and militancy.

          p This phenomenon constitute one of the most worrisome humanitarian crises. The number of the displaced increased dramatically with Boko Haram insurgency in Northern Nigeria, coupled with militancy in the Niger Delta Area of Nigeria and the age-long Herdsmen and Farmer clashes, which has recently taken more frightening dimensions in the Middle Belt and other areas in Nigeria.

          p With continued forced migration, social exclusions  and non-existent security of lives and property, profitable trade can not happen.

          p The crisis of internally displaced persons hinders immensely the developmental process of the region and though there are huge efforts by governments and other aid organisations, help is still needed to mitigate the effects of this crisis.


        .cell.medium-4.large-3.medium-detach-to-right-position-absolute.bg-white.padding-3.box-shadow.margin-bottom-3
          .h4.color-crimson.strong.uppercase Quick Facts
            hr

          h3.strong.uppercase.color-purple 579,000
          p amount of people displaced people added to the already existence figure in Nigeria in 2017
          hr

          h3.strong.uppercase.color-purple 3
          p Nigeria’s position in the ‘Internally Displaced Persons’, just behind Syria & Iraq

          hr

          h3.strong.uppercase.color-purple 60%
          p amount of youth between 15 and 17 not in school

          hr

          h3.strong.uppercase.color-purple 2,108,000
          p total number of IDPs (Conflict and violence) as of 31 December 2017

          hr

          h3.strong.uppercase.color-purple 4.8%
          p Percentage rise of IDPs in January 2018

        .cell.medium-8.margin-bottom-3
          h3.color-purple.padding-top-1.strong WHAT WE ARE DOING
          p Our efforts towards combating the surge of increasing internally displaced people in West Africa is to provide short term relief by organising welfare outreach for those displaced in Nigeria. Currently, our efforts are focused on the Niger Delta and Northern parts of Nigeria that has seen exponential growth in internally displaced people as a result of Boko Haram Insurgency.