extends ../_layout

block main

    //- .page-header
    //-     h2.heading Programmes
    //-     //- h5.subheader Support the Lilyford programmes by participating in our activities through lending a hand financially or by volunteering
    include ./_page-nav.pug


    .grid-container
      .grid-x.padding-2.bg-light-gray
        .cell.medium-10.large-6.medium-centered.text-center
          h6.subheader
            a(href="/programmes", title="Programmes").subheader PROGRAMMES
          h2.heading.color-purple Education
          .cell
            img(src="/assets/img/education-icon.svg", alt="Health").padding-1
          h4 Education is a necessity in the development of human capacity and economic development.  Education improves people, which serves as a basis for societal improvement.

      .grid-x.position-relative.margin-top-3
        .cell.medium-8
          h3.color-purple.padding-top-1.strong THE CHALLENGE
          p The impact of poverty on education in Africa remains one of its biggest challenges, with huge structural gap, especially in the rural areas.

          p According to UNESCO, Africa has the highest rates of educational exclusion in the world,  over one-fifth of children between the ages of 6 and 11 are out of school, followed by one-third of youth between the ages of about 12 and 14. According to UIS data, almost 60% of youth between the ages of about 15 and 17 are not in school.

          p A UNESCO study in 2012 showed that the number of primary-aged children not attending school in Africa accounted for more than half of the global total.

          p The high percentage of children not in school is due to various reasons, stemming from poverty, a dearth of teaching facilities and inaccessibility of educational institutions.

          p The lack of trained teachers and poor conditions of schools in Sub-Saharan Africa is jeopardising the prospects of quality education for all.

          p Recently, even though more children are going to school, many do not acquire the basic skills in reading and mathematics. In 6 of 24 sub-Saharan countries, fewer than half of the students who finished


          - var quickFacts = [ { title: '>50%', content: 'The number of primary-aged children not attending school in Africa' }, { title: '60%', content: 'Amount of youth between 15 and 17 not in school' }, { title: '1-3km', content: 'Average distance travelled by students in the South-South and South-east of Nigeria' }, ]

          .cell.medium-4.large-3.medium-detach-to-right-position-absolute.bg-white.padding-3.box-shadow
            .h4.color-crimson.strong.uppercase Quick Facts
              hr

            each quickFact, index in quickFacts
              h3.strong.uppercase.color-purple #{quickFact.title}
              p #{quickFact.content}
              if index != quickFacts.length - 1
                hr

        .cell.medium-8.margin-bottom-3
          h3.color-purple.padding-top-1.strong WHAT WE ARE DOING
          p Our actions are in line with the Sustainability Development Goals 4 (SDG4). We provide learning aids and materials for schools in less developed communities while supporting collaborative educational programmes that aims to train and prepare teachers to better educate disadvantaged children.

          p We also provide scholarship schemes for indigenous and deserving indigent candidates from selected communities right from primary to tertiary education to enable them to attain their educational goals.