extends ../_layout
block vars
  - var title = "Health Programmes"
block main

    include ./_page-nav.pug

    .grid-container
      .grid-x.padding-2.bg-light-gray
        .cell.medium-10.large-6.medium-centered.text-center
          h6.subheader
            a(href="/programmes", title="Programmes").subheader PROGRAMMES
          h2.heading.color-blue Health
          .cell
            img(src="/assets/img/health-icon.svg", alt="Health").padding-1
          h4 The link between proper health care and productivity is well documented. Health care is one of the imost important need of people in rural and urban areas. Solutions are known, but requires considerable effort and qualified personnel.

      .grid-x.position-relative.margin-top-3
        .cell.medium-8
          h3.color-purple.padding-top-1.strong THE CHALLENGE
          p Unclean water and a lack of basic sanitation are undermining efforts to end extreme poverty and disease in the world’s poorest countries. Sub-Saharan Africa faces some of the biggest challenges: only 68% of individuals living in the region have access to an improved water source and only 30% of individuals have access to improved sanitation services; nearly half of all people using unimproved sources live in sub-Saharan Africa (while one-fifth live in South Asia).

          p Together, unclean water and poor sanitation are a leading cause of child mortality. An estimated 800 children die every day from diarrhoea, spread through poor sanitation and hygiene. Research suggests that in sub-Saharan Africa women and girls in low-income countries spend 40 billion hours per year collecting water. Furthermore, time spent gathering water around the world translates to $24 billion in lost economic benefits each year. On average, women and girls in developing countries walk six kilometres each day to collect water – time which could be spent in school or at work.

          p Goal six of the newly adopted Sustainable Development Goals sets the target to achieve universal and equitable access to safe and affordable drinking water for all; and to achieve access to adequate and equitable sanitation and hygiene for all and end open defecation, paying special attention to the needs of women and girls and those in vulnerable situations

        .cell.medium-4.large-3.medium-detach-to-right-position-absolute.bg-white.padding-3.box-shadow
          .h4.color-crimson.strong.uppercase Quick Facts
            hr

          h3.strong.uppercase.color-purple 30 Million
          p people around Nigeria do not have access to proper health care
          hr

          h3.strong.uppercase.color-purple 42KM
          p average distance to the nearest health centre

          hr

          h3.strong.uppercase.color-purple 1
          p average number of qualified doctors in a 420KM radius in rural areas in Nigeria

        .cell.medium-8.margin-bottom-3
          h3.color-purple.padding-top-1.strong WHAT WE ARE DOING
          P Unclean water and a lack of basic sanitation are undermining efforts to end extreme poverty and disease in the world’s poorest countries. Sub-Saharan Africa faces some of the biggest challenges: only 68% of individuals living in the region have access to an improved water source and only 30% of individuals have access to improved sanitation services; nearly half of all people using unimproved sources live in sub-Saharan Africa (while one-fifth live in South Asia).

          P Together, unclean water and poor sanitation are a leading cause of child mortality. An estimated 800 children die every day from diarrhoea, spread through poor sanitation and hygiene. Research suggests that in sub-Saharan Africa women and girls in low-income countries spend 40 billion hours per year collecting water. Furthermore, time spent gathering water around the world translates to $24 billion in lost economic benefits each year. On average, women and girls in developing countries walk six kilometres each day to collect water – time which could be spent in school or at work.

          P Goal six of the newly adopted Sustainable Development Goals sets the target to achieve universal and equitable access to safe and affordable drinking water for all; and to achieve access to adequate and equitable sanitation and hygiene for all and end open defecation, paying special attention to the needs of women and girls and those in vulnerable situations