extends ../_layout

block main

    //- .page-header
    //-     h2.heading Programmes
    //-     //- h5.subheader Support the Lilyford programmes by participating in our activities through lending a hand financially or by volunteering
    include ./_page-nav.pug


    .grid-container
      .grid-x.padding-2.bg-light-gray
        .cell.medium-10.large-6.medium-centered.text-center
          h6.subheader
            a(href="/programmes", title="Programmes").subheader PROGRAMMES
          h2.heading.color-crimson Skill &amp; Opportunity
          .cell
            img(src="/assets/img/skill-icon.svg", alt="Skill & Opportunity").padding-1
          h4 Skill & Opportunity has been seen as one of the driving force for producing inclusive growth in developing economics and provision of greater economic mobility.

      .grid-x.position-relative.margin-top-3
        .cell.medium-8
          h3.color-purple.padding-top-1.strong THE CHALLENGE
          p Sub-Saharan Africa is acknowledged to be the critical development challenge of the 21st century. The per capita income in Sub-Saharan though has seen steady rise since the 90s (from $606 to $1554 in 2017 According to World Bank), Sub-Saharan Africa still lags behind other continents in the world by a large amount.

          p Underlying the low per capita income are high rates of unemployment or underemployment and low levels of productivity. Across the continent, nations are under pressure to provide employment opportunities especially for the youth. To enable growth, a number of preconditions have to be met, one of which is human capacity development.

          p Skills development needed to increase productivity and make economies more competitive is critical, but gets less attention. To provide sustainable growth for developing economies, Sub-Saharan nations need to look into providing training and economic opportunities for its teeming youths, which currently make up more than half of the population.

          p Strategies for skills development is varied and involves both short term and long term approaches to the problem. Besides affecting the performance of firms, skills constraints also hamper African countries’ capacity to manage the conditions required to foster rapid growth.

        .cell.medium-4.large-3.medium-detach-to-right-position-absolute.bg-white.padding-3.box-shadow
          .h4.color-crimson.strong.uppercase Quick Facts
            hr

          h3.strong.uppercase.color-purple 55%
          p utilised/captured human capacity potential in Sub-Saharan Africa (The World Economic Forum’s Human Capital Index)
          hr

          h3.strong.uppercase.color-purple 60%
          p population under the age of 25 in Sub-Saharan Africa

          hr

          h3.strong.uppercase.color-purple 600million
          p Sub-Saharan expected working-age population in 2030. An Increase by two-thirds from 370million adults in 2010

        .cell.medium-8.margin-bottom-3
          h3.color-purple.padding-top-1.strong WHAT WE ARE DOING
          p We acknowledge that human capital investment is a primary tool for producing inclusive and tangible growth. The wealth and sustainability of nations lies not just in the education of the populace, but in the ability of the youth to produce and maintain the infrastructures and services that drive economic growth.

          p Lilyford empowers youth through capacity building, skills acquisition and provision of repayable soft loans for small scale enterprise for the youth. We also work with initiatives that engages youths in productive ventures and activities, necessary for development of their communities.

          p We also setup skill acquisition centres within identified communities for youths and provide the necessary framework for providing viable opportunities after they have finished their skill acquisition programme either through attachment in businesses in need of their skills or by helping them setup small scale operations, from where they can grow to become employers of labour.
