extends ../_layout

block main

    //- .page-header
    //-     h2.heading Programmes
    //-     //- h5.subheader Support the Lilyford programmes by participating in our activities through lending a hand financially or by volunteering
    include ./_page-nav.pug


    .grid-container
      .grid-x.padding-2.bg-light-gray
        .cell.medium-10.large-6.medium-centered.text-center
          h6.subheader
            a(href="/programmes", title="Programmes").subheader PROGRAMMES
          h2.heading.color-turquoise Welfare &amp; Widow Empowerment
          .cell
            img(src="/assets/img/welfare-icon.svg", alt="Welfare").padding-1
          h4 Available household resources is one of the biggest advantage any family can have as basis for mental, physical and economic development.

      .grid-x.position-relative.margin-top-3
        .cell.medium-7
          h3.color-purple.padding-top-1.strong THE CHALLENGE
          p The impact of an poverty on households and nurturing of children and care for the aged is well known.

          p The 2006 United Nations Human Development Index puts Nigeria at 159 out of 177 countries, with 70.8% of the population living on less than one dollar a day and 92.4% on less than two dollars a day (Human Development Report 2006).

          p This statistics is prevalent in almost all sub-Saharan countries. A common attribution of these extreme challenge is the unavailability of some social variables that could foster rapid development and economic growth.

          p The essential prerequisite for maintaining life are missing and are replaced with inequality, unemployment, inaccessible health care systems and lack of social amenities. This is also compounded by the unavailability of welfare system to cater to those unable to work and the aged.

          p Sub-Saharan women in particular are the hardest hit. Rural women are leaders, producers, entrepreneurs and service providers and their contributions are vital to the well-being of families, communities and economies. Inspite of their contribution to the uplifting of their families and contribution to the society, women are not given equal access to financial resources.

          p In most African cultural institutions, women are subjected to emotional, mental and financial suffering when their husbands die, making it almost impossible for them to care and provide for their families. Sometimes, they are suddenly consigned to the very margins of society where they suffer the most extreme forms of discrimination and stigma.

        - var quickFacts = [ { title: '50%', content: 'Percentage of Widows in the Adult Female Population in many African countries' }, { title: '40%', content: 'Amount of widows quoted as being disadvantaged  in Africa' }, { title: '7.7%', content: 'Increase in widowed population (2010-2015)' } ]

        .cell.medium-4.large-3.medium-detach-to-right-position-absolute.bg-white.padding-3.box-shadow
          .h4.color-crimson.strong.uppercase Quick Facts
            hr

          each quickFact, index in quickFacts
            h3.strong.uppercase.color-purple #{quickFact.title}
            p #{quickFact.content}
            if index != quickFacts.length - 1
              hr

        .cell.medium-8.margin-bottom-3
          h3.color-purple.padding-top-1.strong WHAT WE ARE DOING
          p We believe that if women are given access to financial resources needed to help grow their businesses, they can in turn care for their households and impact their communities in a larger scale. In this regard, Lilyford undertakes Widow empowerment programmes through the provision of soft loans for petty trading and organises Widows into co-operative groups that will help them to collectively increase their access to the required funds needed to grow their businesses.

          p Lilyford also carries out welfare programmes for the incapacitated and aged, who can no longer work and don’t have pensions or retirement benefits. We provide clothing, food and other items to make their lives bearable and take care of their basic needs.