extends ../_layout

block main

    //- .page-header
    //-     h2.heading Programmes
    //-     //- h5.subheader Support the Lilyford programmes by participating in our activities through lending a hand financially or by volunteering
    include ./_page-nav.pug


    .grid-container
      .grid-x.padding-2.bg-light-gray
        .cell.medium-10.large-6.medium-centered.text-center
          h6.subheader
            a(href="/programmes", title="Programmes").subheader PROGRAMMES
          h2.heading.color-turquoise Welfare &amp; Widow Empowerment
          .cell
            img(src="/assets/img/welfare-icon.svg", alt="Welfare").padding-1
          h4 The link between proper health care and productivity is well documented. Health care is one of the imost important need of people in rural and urban areas. Solutions are known, but requires considerable effort and qualified personnel.

      .grid-x.position-relative.margin-top-3
        .cell.medium-7
          h3.color-purple.padding-top-1.strong THE CHALLENGE
          p A weak national health care system can be attributed to the level of poverty in Africa. As the type of illnesses metamorphosis throughout the continent, half of the population still lacks access to quality healthcare.

          p Sub-saharan Africa faces some of the biggest challenges with only half the population having access to health care. In places where health care is available, these service provisions are skewed heavily in favour of the Urban population. The need for public health is enormous but in short supply. Inadequate health education and prevention mechanism put a huge percentage of the population at risk.

          p The World Health Organisation (WHO) report of 2006, put the African region at the centre of the health crisis, with 24% of the burden of diseases and only 3% of health workers. This discrepancy in the disease to health solution ratio has only served to increase the mortality rate in an otherwise burgeoning population.

          p In recent years, the region has been able to increase the education and prevention of certain diseases in line with the Millennium Development Goals (MDGs), but the gap to adequate health care provision and personal health is still apparent.

        - var quickFacts = [ { title: '< 50%', content: 'Amount of people with access to health care in Africa' }, { title: '24% & 3%', content: 'Sub-saharan Africa accounts for 24% of global burden of disease, but only 3% of the world’s health workforce.' }, { title: '3.7%', content: 'Percentage of GDP spent on health care in Nigeria, below the global average' }, {title: '18:100,000', content: 'Physician to population ratio in Sub-Saharan Africa'} ]

        .cell.small-10.small-centered.medium-4.large-3.medium-detach-to-right-position-absolute.bg-white.padding-3.box-shadow
          .h4.color-crimson.strong.uppercase Quick Facts
            hr

          each quickFact, index in quickFacts
            h3.strong.uppercase.color-purple #{quickFact.title}
            p #{quickFact.content}
            if index != quickFacts.length - 1
              hr

        .cell.medium-8
          h3.color-purple.padding-top-1.strong WHAT WE ARE DOING
          p We believe good health is the cradle for economic empowerment, community development and human mobility. At Lilyford, we are taking proactive steps to help improve access to health by providing health facilities for rural communities, donating health equipments to under-resourced health facilities, providing health education for communities, provision of unavailable drugs and medical appliances for the sick who can’t afford them and also implementing medical outreaches that runs eye tests, provide medicated glasses for those with optical deficiencies, and pay the bills for those that can’t afford thorough health care.

          p Our health intervention covers the sick and elderly and ailment such as diabetes hypertension, arthritis, eye defects, kidney problems, prostate etc.

          p The health outreaches have touched more than 10,000 people and our goal is to reach more than 100,000 in the coming years.
