extends ../_layout

block main

    .page-header
        h2.heading Take Action
        h5.subheader Support the Lilyford programmes by participating in our activities through lending a hand financially or by volunteering

    .row.margin-bottom-2
      .hero-card.hero-card-dark
        .hero-card__image
          img(src="/assets/img/donate-img.jpg", alt="")
        .hero-card__content.padding-3
          h2 Volunteer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium turpis sed libero sagittis faucibus. Donec magna justo, egestas sed ligula et, pharetra maximus ex

          button.button.uppercase.strong.dark.margin-top-2 Become a partner

    .row
      .hero-card.bg-purple.color-white
        .hero-card__image
          img(src="/assets/img/donate-img2.jpg", alt="")
        .hero-card__content.padding-3
          h2 Volunteer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium turpis sed libero sagittis faucibus. Donec magna justo, egestas sed ligula et, pharetra maximus ex

          button.button.uppercase.strong.dark.margin-top-2 Become a volunteer
