extends ../_layout

block main
  .grid-container.full.bg-very-light-gray.padding-3
    .page-header
        h2.heading Media Center
        h5.subheader News & Events of Lilyford's programmes

    .grid-container.padding-bottom-3
      .featured-news.featured-news-education
        div.featured-news__image
          img(src="/assets/img/ogidi-onitsha-1.jpg", alt="Ogidi & Onitsha")
        div.padding-2
          h3.featured-news__header Stronger in Health
          p Lilyford organises it’s maiden Medical outreach in Ogidi & Onitsha areas of Anambra State, Nigeria
          .next
            .icon.icon-arrow-right

      .featured-news.featured-news-health
        div.featured-news__image
          img(src="/assets/img/ogidi-onitsha-2.jpg", alt="Ogidi & Onitsha")
        div.padding-2
          h3.featured-news__header Stronger in Health
          p Lilyford organises it’s maiden Medical outreach in Ogidi & Onitsha areas of Anambra State, Nigeria
          .next
            .icon.icon-arrow-right

      .medium-6.medium-centered
        .prev
            .icon.icon-arrow-left
        .next
            .icon.icon-arrow-right