extends ../_layout

block main
  .grid-container
    .grid-x.padding-1
      .cell.padding-bottom-2
        h1.page-title Contact Us
        h3.subheader We will love to hear from you.

      .cell.medium-6.padding-top-2.small-order-2.medium-order-1
        .grid-y.grid-margin-y
          .cell
            h4.strong.color-crimson Volunteering &amp; Partnerships
            p For volunteering opportunities, please send an email to volunteer@lilyford.org.ng
            p For partnerships, please send an email to partners@lilyford.org.ng
          .cell
            h4.strong.color-crimson Correspondence
            p 14, Saka Tinubu Street,
              | <br> Off Akin Adesola Street, Victoria
              | <br> Island, Lagos, Nigeria
              | <br> e: info@lilyford.org.ng

            p +234 8093 2899 301 <br>
              | +234 8094 2809 628 <br>
              | +234 8093 2899 302 <br>

          .cell.padding-top-3.padding-bottom-3
            .flex-container.align-justify.large-8
              a(href="http://www.facebook.com" title="Lilyford Foundation on Facebook" target="_blank").icon.icon-facebook.text-2x
              a(href="http://www.twitter.com" title="Lilyford Foundation on Twitter" target="_blank").icon.icon-twitter.text-2x
              a(href="http://www.instagram.com" title="Lilyford Foundation on Instagram" target="_blank").icon.icon-instagram.text-2x
              a(href="htp://www.linkedin.com" title="Lilyford Foundation on Linkedin" target="_blank").icon.icon-linkedin.text-2x
          .cell
            h3.color-crimson Signup for updates
              .grid-x.padding-top-1
                .cell.small-8.medium-9.text-right
                  input(name="Email Address" type="text" placeholder="Email Address")

                .cell.small-4.medium-3
                  input(class="button", type="button", value="SIGN UP").button.no-radius

      .cell.medium-6.small-order-1
        .grid-y.grid-margin-y.circular-background
          .cell
            img(src="/assets/img/children-at-ogidi.png", alt="Lilyford's outreach at Ogidi")


      .margin-bottom-3.padding-bottom-3